In [4]:
# Function to read CSV data into a DataFrame and returns the DataFrame Object.

filepath = 'DataFiles/Incometax.csv'
incomedf = pd.read_csv(filepath)

import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,Unnamed: 0,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
# Combined Average income of all states from 2005 to 2013
import pandas as pd
filepath = 'DataFiles/Incometax.csv'
incomedf = pd.read_csv(filepath)
def averages(df):
    sum = 0
    count = 0
    for row in df.values:
        for i in range(3,len(row)):
            
            sum = sum+int(row[i])
            count += 1
        avg = sum//count
    return avg
    
averages(incomedf)

48525

In [7]:
import math as m
def highestAverageIncome(df):
    highestAvgIncome = 0
    avg = 0
    state = ''
    for row in df.values:
        avg = (row[-3:].mean())
        a = m.floor(avg)
        print(row[1],a)
        if a > highestAvgIncome:
            highestAvgIncome = a
            state = row[1]
    return state            
highestAverageIncome(incomedf)

04000US01 42478
04000US02 60738
04000US04 48755
04000US05 40079
04000US06 55971

'04000US02'

In [8]:
# State with lowest average income from 2007 to 2010(inclusive)

def getClIndex(df,cl_key):
    for i in range(len(df.columns)):
        if df.columns[i] == cl_key:
            cl_index = i
    return cl_index
        
def lowestAvgIncome(df,st_year,ed_year):
    lowest_avg_income = 100000
    avg = 0
    state = ''
    st_cl_index = getClIndex(df,st_year)
    ed_cl_index = getClIndex(df,ed_year)
    for row in df.values:
        avg = ((row[st_cl_index:ed_cl_index+1]).mean())
        print(row[1],avg)
        if avg < lowest_avg_income:
            lowest_avg_income = avg
            state = row[1]
    return state
          
lowestAvgIncome(incomedf,'2007','2010')

04000US01 41900.25
04000US02 61608.5
04000US04 46691.0
04000US05 38876.5
04000US06 55791.25

'04000US05'

In [10]:
# Print the list of all states in the same line with average income less than California
def getRowIndex(df,row_key):
    for i in range(len(df.values)):
        if df.values[i][1] == row_key:
            row_index = i
    return row_index

def allStatesLessCalifornia(df):
    row_index = getRowIndex(df,'California')
    avg = 0
    california_avg = df.values[row_index][2:].mean()
    #print(california_avg)
    for row in df.values:
        avg = row[2:].mean()
        #print(row[1],avg)
        if avg < california_avg:
            print(row[1],end = ' ')
        
allStatesLessCalifornia(incomedf)

UnboundLocalError: local variable 'row_index' referenced before assignment

In [11]:
# Print the names of states based on descending order of income in the year 2009

def statesIncomeDecending(df):
    cl_index = getClIndex(df,'2009')
    income = {}
    for row in df.values:
        income[row[1]] = row[cl_index]
    income = sorted(income.items(),key=lambda kv: kv[1],reverse = True) # To sort dictionary based on values we use "key=lambda kv: kv[1]"
    print(income)
    for item in income:
        print(item[0])
statesIncomeDecending(incomedf)

[('04000US02', 61604), ('04000US06', 56134), ('04000US04', 45739), ('04000US01', 39980), ('04000US05', 36538)]
04000US02
04000US06
04000US04
04000US01
04000US05

In [12]:
# State with the lowest recorded income from 2005 to 2013

def lowestRecordedIncome(df,st_year,ed_year):
    st_year_index = getClIndex(df,st_year)
    ed_year_index = getClIndex(df,ed_year)
    min_income = 100000
    state = ''
    print(st_year_index,ed_year_index)
    for row in df.values:
        income_list = row[st_year_index:ed_year_index+1]
        print(row[1],min(income_list))
        if min(income_list) < min_income:
            min_income = min(income_list)
            state = row[1]
    return state
lowestRecordedIncome(incomedf,'2005','2013')

3 11
04000US01 37150
04000US02 55891
04000US04 45245
04000US05 36538
04000US06 51755

'04000US05'