In [7]:
# Function to print all the combinations of pairs of Integers in a unique list
# [1,2,3] ->(1,2),(1,3),(2,3) ->3c2 ->3!/((3-2)!-2!)
# [1,2,3,4]->(1,2),(1,3),(1,4),(2,3),(2,4),(3,4)bb
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return 
combinations([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [11]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return 
combinations3([1,2,3,4,5,3])

1 2 3
1 2 4
1 2 5
1 2 3
1 3 4
1 3 5
1 3 3
1 4 5
1 4 3
1 5 3
2 3 4
2 3 5
2 3 3
2 4 5
2 4 3
2 5 3
3 4 5
3 4 3
3 5 3
4 5 3

In [18]:
#
def differencePairs(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                li.append(d)
    return li
li = [1,9,8]
differencePairs(li)

[1, 9, 8, 7, 2]

In [21]:
def medium(li):
    while(True):
        li2 = differencePairs(li)
        if len(li2) == 0:
            break
    return
        
def differencePairs(li):
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return li
li = [1,2,8]
differencePairs(li)

[1, 2, 8, 7, 6]

In [22]:
def medium(li):
    while(True):
        li3 =[]
        li2 = differencePairs(li)
       
    return li
        
def differencePairs(li):
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return li
li = [1,2,8]
differencePairs(li)

[1, 2, 8, 7, 6]

In [1]:
def medium(li):
    li3 = []
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
       
    return li
        
def differencePairs(li):
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return li
li = [1,2,8]
differencePairs(li)

[1, 2, 8, 7, 6]

In [14]:
def combinations(li):
    for i in range(len(li)-1):
        for j in range(j+1, len(li)):
            print(li[i],li[j])
    return 
def differencePairs(li):
    newelements =[]
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return li
li = [1,2,8]
differencePairs(li)

[1, 2, 8, 7, 6]

In [17]:
li = [1,2,3,4]
len(li)-1

3

In [22]:
 for i in range(len(li)):
        for j in range(i+1, len(li)):
            print(li[i],li[j])

1 2
1 3
1 4
2 3
2 4
3 4

In [2]:
def problem(li):
    for i in range(len(li)):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                problem(li)
    return li

problem([3,8,15])

[3, 8, 15, 5, 12, 2, 9, 1, 6, 7, 4, 10, 13, 14, 11]

In [15]:
def problem(li):
    c = li.copy()
    newelements =[]
    for i in range(len(li)):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
                
    

problem([2,6,3,9,12])

[[2, 6, 3, 9, 12], [2, 6, 3, 9, 12, 4, 1, 7, 10]]

In [ ]:
# Convert the list in to an arithmatic progression
# [3,8,15] -> [3, 8, 15, 5, 12, 2, 9, 1, 6, 7, 4, 10, 13, 14, 11]

In [4]:
a =[1,3,2]
b =[1,2,3]
a = b.copy() # data copy through indirect referncing
a = b # data copy through directreferncing
b

[1, 2, 3]

### Set -  Data Structure in python
- Represented by '{}'
- It contains only unique elements if any repeated data may deleted
    - eg: a = {1,2,3,4,5,6,6} -> {1,2,3,4,5}
- Set is a mutable we can add delete the data
- In Set we can  add the dataa by ussing add function  In list we use append method
    - eg: a.add(7)
- We can access a element in the set
    - for i in a:
       print(i,end = " ") -> 1 2 3 4 5 6 7
- We can update the values 
    - eg: b={7,8,9,1,2,3} # here the duplicate elementss will be removed
    - li = {3,4,5,6,8,5,43}
    - a.update(b,li)
    - a -> {1,2,3,4,5,6,7,8,9}
- We Can delete the values by using remove and discard function
    - eg: -> a.discard(78)
- union,intersection,isdisjection
    - a ={2,4,65,78}
      b={7,8,9,1,2,3} 
      a.union(b) -> {1, 2, 3, 4, 7, 8, 9, 65, 78}
    - a ={2,4,65,78}
      b={7,8,9,1,2,3} 
      a.intersection(b) -> {2}
    - a ={2,4,65,78}
      b={7,8,9,1,2,3} 
      c={113,234}
      a.isdisjoint(c) -> True
    - a-b -> {4, 65, 78}
    - a ^ b # uncommon elements in either a and b ->{1, 3, 4, 7, 8, 9, 65, 78}
    - d = set() # Create an empty set -> set()
    - li = [1,2,3,4,2,1,2,3,4]
      u = set(li)
      u -> {1,2,3,4}6

In [24]:
a ={2,4,65,78}
b={7,8,9,1,2,3} 
li = {3,4,5,6,8,5,43}
a.update(b,li)
a.discard(78)
a.discard(li)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 43, 65}

In [25]:
a ={2,4,65,78}
b={7,8,9,1,2,3} 
a.union(b)

{1, 2, 3, 4, 7, 8, 9, 65, 78}

In [27]:
a ={2,4,65,78}
b={7,8,9,1,2,3} 
a.intersection(b)

{2}

In [31]:
a ={2,4,65,78}
b={7,8,9,1,2,3} 
c={113,234}
a.isdisjoint(c)

True

In [32]:
a-b # all elements in a which are not in b

{4, 65, 78}

In [33]:
a ^ b # uncommon elements in either a and b

{1, 3, 4, 7, 8, 9, 65, 78}

In [35]:
b - a # all elements in b which are not in a
#b-a = b.intersection(a)

{1, 3, 7, 8, 9}

In [36]:
d = set() # Create an empty set
d

set()

In [37]:
li = [1,2,3,4,2,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

procedural : c

Object oriented : Java , python

Scripting : PHP,Python, JavaScript, Shell, Perl

Functional : Python,Haskell, Scala

Logic : Prolog, Lisp

### List comprehensions:

In [43]:
# List of n natural numbers
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
# Apply List comprehension to store the the cubes of n natural numbers
li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [64]:
# Function to caluclate the factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)
# Apply list comrehension to caluclate factorial of n natural numbers

n=10
factoriallist = [factorial(i) for i in range(1,n+1)]
factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [69]:
# Store cummulative sum of numbers till n in a list
def cummulativeFunction(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum+i
    return sum
n=5
sumlist = [cummulativeFunction(i) for i in range(1,n+1)]
sumlist

[1, 3, 6, 10, 15]

In [78]:
n =5
li = [sum(range(1,i+1)) for i in range(1,n+1)]
li

[1, 3, 6, 10, 15]

In [90]:
# Function to Store only leapyears in a given time range:
st =1990
en = 2000
ly= [i for i in range (st, en+1) if i % 400 == 0 or(i % 100 !=0 and i%4 == 0)]
ly

[1992, 1996, 2000]

In [112]:
# printing unique charcters
li = [1,2,3,2,1]
unique = []
u2 =[]
unique= [u2.append(i) for i in li if i not in u2]
u2

[1, 2, 3]

### Iterators:

Iterable -Strings, Lists, Tuples, Sets, Dictionaries

Convert to Iterator -> iter()
For Loop: Untill some condition is reached
- Iteration : During execution it will stop any of the time and start exution with continued value
  - The advantage of iterator is we can resume and start the Iteration
  - All iterators have next function

In [138]:
it = iter('python')
print(next(it))
print(next(it))
print(next(it))

p
y
t

### Generators

Generator is a function
yield something that gives patricular number as n

In [8]:

def genrator():
    n=2
    yield n
    
    n = n ** 3
    yield n
    
    n = n**3
    yield n
    
a = genrator()  
next(a)
next(a)
next(a)

512

In [9]:
def genrator():
    n=2
    for i in range(1,5):
        n **= 3
        yield n
a = genrator()  
next(a)
next(a)

512

In [12]:
def genrator():
    n=2
    while True:
        n **= 3
        yield n
a = genrator()  
next(a)
b = next(a) ** 2
b *= next(a)
b

35184372088832

In [14]:
def genrator():
    n=2
    while True:
        n **= 3
        yield n
a = genrator()  
for i in range(5):
    print(next(a))
next(a)

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208

2824013958708217496949108842204627863351353911851577524683401930862693830361198499905873920995229996970897865498283996578123296865878390947626553088486946106430796091482716120572632072492703527723757359478834530365734912