###  MarkDown  Basics

* **bold** <br>
* *Italic* <br>
* ***IB***
* Normal text
  * Sublist1
  * Sublist2
  
  
 1. Ordered list element1
 2. Ordered list element2
 
- []option 1
- []option 2
- [x]option 3

I gey 10 more traffic from  .[Google][1] than from .[yahoo].[2] or.[MSN][3]


.[1].https:/www.google.com/
.[2].https://search.yahoo.com/

`printf("hello Markdown")`


 
 
 
 
[Jupyter Logo](jupyter.jpg)
 
 <img src="jupyter.jpg" center="true" style="float:left">

### pytonBasics

### Phyton version 3.7

- Scripting
- object oriented
- functional

In [1]:
# python Coments

print("Good Afternoon!", end="||")  # basic output
print("Hello python")

Good Afternoon!||Hello python

### Assignment

In [2]:
n1 = 123456 # Single varaiable Assignment

n2 = n3 = n4 = n1 # Multi variable Assignment of the same value

a, b, c = 123, 234, 345 # multi variable Assignment with different values

print (a, b, c)

123 234 345

### Data types
- int
- float
- string
- double

In [4]:
type(a)
s1 = "phyton"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [ ]:
n1

In [2]:
n1 % 11

n3 = n2 ** 123456

type(n3)
len(str(n3))
n3

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

NameError: name 'n1' is not defined

### Conditionals

In [ ]:
 if atoms < 10 ** 9:
        print("TRUE")
else:
    print("FALSE")

In [ ]:
# check if a number is even

n = 123
if n % 2 == 0:
    print("even")
else:
    print("odd")

In [8]:
# find the greatest of threee numbers

n1 = input("enter number 1")
n2 = input("enter number 2")
n3 = input("enter number 3")

if n1 > n2 and n1 > n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3," is the greatest")

enter number 1-1
enter number 2-100
enter number 311
11  is the greatest

In [16]:
#check a year is an leap year

n1 = int(input("enter number year"))

if n1 % 400 == 0 and n1 % 100 == 0 or n1 % 4 ==0:
    print(n1,"is the leap year")
else:
    print(n1,"not a leap year")

enter number year2004
2004 is the leap year

In [22]:
# caluclate the number of digits in a number

n1 = int(input("enter a number"))
len(str(n1))

enter a number1234

4

In [17]:
# check is a number is a factor of 10

n1 = int(input("enter a number"))

if n1 % 10 == 0:
    print(n1, "is a factor of 10")
else:
    print(n1, "is not a factor of 10")

enter a number100
100 is a factor of 10

In [19]:
# check is a number is a factor of 100

n1 = int(input("enter a number"))

if n1 % 100 == 0:
    print(n1, "is a factor of 100")
else:
    print(n1, "is not a factor of 100")

enter a number8900
8900 is a factor of 100

In [23]:
# check the given string is equal to a number

s1 ="1234"
n1 = 1234
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

1234 is equal to 1234

In [29]:
#check the given number in a given range

n1=int(input("enter a number"))
lb=int(input("enter a number"))
up=int(input("enter a number"))
if n1 >= lb and n1 <= up:
    print(n1,"is in range")
else:
    print(n1," is not in range")

enter a number12
enter a number10
enter a number20
12 is in range

In [26]:
Caluclate the square root of anumber without functions

n1=120
n1**0.5

10.954451150103322

In [27]:
# caluclate the number of nano seconds in a given year(leap year logic)

year = 2016
if n1 % 400 == 0 and n1 % 100 == 0 or n1 % 4 ==0:
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31622400000000000

In [8]:
str1 = 'hello javatpoint' 
str2 = 'how are you' 

print(str2[0:3])
print(str2*2)

how
how are youhow are you

TypeError: unsupported operand type(s) for ** or pow(): 'type' and 'int'